@import "../../../styles/mixins.module.scss";

.QuestionAnswer {
  .formGroup {
    margin-bottom: 15px;

    label {
      display: block;
      margin-bottom: 5px;
      color: #714d3d;
      font-weight: 500;
      font-size: 15px;
    }

    select,
    textarea,
    input {
      padding: 10px;
      border: 1px solid $borders;
      border-radius: 5px;
      font-size: $fontSize;
    }

    textarea {
      height: 200px;
      width: 100%;
    }
  }

  .ragCollection {
    display: flex;
    align-items: center;
    gap: 20px;

    label {
      color: black;
    }

    .customSelect {
      position: relative;
      width: 20%;

      select {
        width: 100%;
        appearance: none;
        padding: 5px;
      }

      .icon {
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        pointer-events: none;
        font-weight: bold;
      }
    }
  }

  .QAQuestion {
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 40px;

    .QuestionAnswerInput {
      width: 100%;
      margin-top: 10px;
      font-size: $fontSize;
      border-radius: 30px;
      padding: 20px;
    }

    .arrowIcon {
      position: absolute;
      right: 20px;
      color: $primary;
      cursor: pointer;
      top: 30px;
      font-size: 20px;
    }
  }

  .QAResponse {
    margin-top: 40px;

    .loaderContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
    }

    .responseBox {
      @include response();
      min-height: 400px;
      position: relative;
      text-wrap: wrap;
      overflow: auto;

      .placeholder {
        color: $grey;
        position: absolute;
        top: 10px;
        left: 10px;
        pointer-events: none;
      }
    }
  }

  .formActions {
    display: flex;
    gap: 10px;
    justify-content: flex-end;

    button {
      padding: 12px 20px;
      border: none;
      cursor: pointer;
      background-color: $grey;
      color: $white;
      font-size: $fontSize;
      border-radius: 8px;
      &:first-of-type {
        background-color: $error;
      }
    }
  }
}
