@import "../../../styles/mixins.module.scss";

.ImageToJson {
  .formGroup {
    margin-bottom: 15px;

    label {
      color: #000;
      font-weight: 500;
      font-size: 15px;
    }

    input,
    textarea {
      padding: 10px;
      border: 1px solid $borders;
      border-radius: 5px;
      font-size: $fontSize;
      width: 100%;
      resize: none;
    }
  }

  .ImageToJsonBox {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;

    .ImageToJsonDocument {
      display: flex;
      flex-direction: column;
      gap: 10px;

      input {
        width: 100%; // Full-width input for Image URL
      }
    }

    .ImageToJsonFormActions {
      width: 100%;

      .labels {
        display: flex;
        justify-content: space-between;
        width: 50%;
      }

      .ImageToJsonPanel {
        display: flex;
        gap: 10px;
        margin-bottom: 10px;
        flex-direction: column;

        textarea {
          padding: 10px;
          border: 1px solid $borders;
          border-radius: 5px;
          font-size: $fontSize;
          width: 100%;
          resize: none;
        }

        label {
          color: #000;
          font-weight: 500;
          font-size: 15px;
        }

        .schemaTextarea {
          height: 150px;
          width: 100%;
          resize: vertical;
        }

        .ImageToJsonField,
        .ImageToJsonType {
          display: flex;
          flex-direction: column;
          gap: 5px;
          width: 30%;

          input,
          select {
            padding: 10px;
            border: 1px solid $borders;
            border-radius: 10px;
            font-size: $fontSize;
          }
        }

        .ImageToJsonField {
          width: 20%;
        }

        .ImageToJsonType {
          position: relative;
          width: 20%;

          .placeholder {
            position: absolute;
            top: 34px;
            left: 10px;
            color: $grey;
          }

          select {
            appearance: none;
          }

          .dropdownIcon {
            position: absolute;
            right: 10px;
            top: 70%;
            transform: translateY(-50%);
            pointer-events: none;
          }
        }

        .entityTrash {
          color: $error;
          cursor: pointer;
          font-size: $fontSize;
        }
      }

      .ImageToJsonAddEntity {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-top: 10px;

        button {
          background: transparent;
          border: none;
          display: flex;
          align-items: center;
          gap: 5px;
          cursor: pointer;
          color: $primary;
          font-size: $textFontSize;
        }
      }
    }
  }

  .ImageToJsonResponse {
    margin-top: 20px;

    .responseBox {
      @include response();
      min-height: 400px;
      position: relative;
      overflow: auto;

      pre {
        color: $primary;
      }

      .placeholder {
        color: $grey;
        position: absolute;
        top: 10px;
        left: 10px;
        pointer-events: none;
      }
    }

    .loaderContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
    }
  }
}
